.DS_Store
.netrwhist
yarn
.mypy_cache
*.log

*/nnn/.selection
*/nnn/plugins

*/nvim/session
*/nvim/lua/fnl
*/nvim/spell
*/nvim/lua/dap
*/nvim/plugin/packer_compiled.lua

*/lazygit/**/*.patch
*/lazygit/state.yml
