k.DS_Store
.netrwhist
yarn
.mypy_cache
*.log

*/nnn/.selection
*/nnn/plugins**

*/nvim/session
*/nvim/lua/fnl
*/nvim/spell
*/nvim/lua/dap
*/nvim/plugin/packer_compiled.lua

*/lazygit/**/*.patch
*/lazygit/state.yml

*/pgcli/history
*/pgcli/log
*/litecli/history
*/litecli/log

*/karabiner/automatic_backups

*/gcloud
*/gh
*/configstore
*/kfp
*/raycast
*/fish
*/k9s
*/Dadroit\/Viewer
*/kitty
*/sql-language-server
