.DS_Store
.netrwhist
yarn
coc*/
.mypy_cache
*.log
bpytop
configstore
fish
gatsby
htop
iterm2
karabiner
omf
pgcli
taskwarrior
thefuck
nnn
pudb
nvim/session
nvim/lua/fnl
git
AWSVPNClient
zoxide_bin
.undodir
nvim/spell
